/* Nerdy secret: You can use "less" below! Don't tell anybody... */
.github-profile {
	margin: 1rem;
  border: thin solid #888;
  border-radius: 10px;
  padding: 2rem;
/*margin-bottom: 2rem;*/
  display: flex;
  justify-content: right;
}

.github-profile  img {
  width: 120px;
 height: 120px;
}

.github-profile .info {
  display: inline-block;
  margin-left: 12px;
  
}

.github-profile .info .name {
  font-size: 1.25rem;
  font-weight: bold;
}